
/* Portfolio Site Style Sheet */
/*
Colors used

Background Color (light green)
Text Color (Dark Gray): #2B2B2B;
Primary Color (Midnight Blue): #191970;
Secondary Color (Sienna): #A0522D;
*/


body{
  background-color: #9dec9d;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}


h1{
  font-size: 30px;
  font-weight:700;
  text-align: center;
}

h2{
  font-size: 24px;
  font-weight:700;

}

p{
  font-size: 18px;
  font-weight:700;
}

a{
  color: #191970
}

a:visited{
  color: #05676E/*visited link*/
}

a:hover, a:focus{
  text-decoration: none;/*no underlining when hovering over a link*/
}

a:active{
  color:#489C79;/*selected link*/
}
.button, .button1 {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #CBFFC0;
  color: black;
  text-decoration: none;
  /*adds spacing to the button*/
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button:hover, .button:focus, .button1:hover, .button1:focus {
  cursor: pointer; /*lets the mouse appear as a hand when hovering over the button*/
  opacity: 0.8;/*reduces the opacity of the button to 80%*/
}

.standard-label {
    display: block;
}

#contact-form {
    margin-top: 15px;
    margin-left:10px;
}

.navigation-list__item--active{
  text-decoration: none;
}

.profile__portrait {
  float: left;
}
.profile {
  width: 1200px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-footer {
  text-align: center;
}


.profile__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 15px;
  margin-right: 15px;

}

.grid__item-header {
  margin-top: 10px;
  text-align: center;
}

.grid__item {
  background-color: white;
  padding: 10px;
  border: 3px solid Black;
  /* Set width to auto*/
  width: auto;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}


@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
h1 {
    font-size: 22px;
  }

h2 {

   font-size: 20px;
  }
}

/* styles for hometown animation */

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

/* keyframes hometown animation */
@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
